@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS HEX */
:root {
    --seasalt: #F7F6F4ff;
    --white: #FDFEFEff;
    --alice-blue: #F0F6FAff;
    --dim-gray: #68616Bff;
    --oxford-blue: #071336ff;

}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--alice-blue);
}

header {
    background-color: var(--oxford-blue);
    text-align: center;
    position: relative;
    width: 100%;
}

.header-title {
    color: var(--white);
    width: 100%;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.article {
    background-color: var(--white);
    width: 80%;
    height: 100%;
    color: var(--dim-gray);
    padding: 5% 10%;
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 5%;
}

.article h2 {
    color: var(--oxford-blue);
}

.article b {
    color: var(--oxford-blue);
}

.movie-form, .person-form, .role-form {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--oxford-blue);
    width: 100%;
    height: fit-content;
    color: var(--dim-gray);
    padding: 5% 10%;
    box-sizing: border-box;
    line-height: 1.5;
    color: var(--white);
    border-radius: 5px;
    margin: 0;
}

.movie-form h2, .person-form h2, .role-form h2 {
    color: var(--white);
}

input {
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    outline: 2px solid var(--alice-blue);
}

.movie-form input[type=text], .person-form input[type=text], .role-form input[type=text] {
    width: 100%;
    padding: 4%;
    border-style: groove;
    border-color: var(--oxford-blue);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.movie-form input[type=number], .person-form input[type=number] {
    width: 100%;
    padding: 4%;
    border-style: groove;
    border-color: var(--oxford-blue);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.input-table-area {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: minmax(100vh, auto);
    column-gap: 5%;
    margin-top: 10%; 
    box-sizing: border-box;
    height: auto;
}

select {
    margin-bottom: 5%;
    padding: 4%;
    border-style: groove;
    border: 2px solid var(--oxford-blue);
    width: 100%;
}

select:focus {
    outline: 2px solid var(--alice-blue);
}

select>option {
    color: var(--dim-gray);
}

select option:checked {
    color: var(--white);
}

.registerMovieBtn, .registerPersonBtn, .registerRoleBtn {
    padding: 5%;
    background-color: var(--white);
    color: var(--oxford-blue);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    border: none;
    font-size: large;
}

.updateMovieBtn, .updatePersonBtn, .updateRoleBtn {
    padding: 5%;
    background-color: var(--oxford-blue);
    color: var(--white);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: none;
    font-size: small;
    margin: 0 auto;
    margin-top: 5%;
}

.deleteMovieBtn, .deletePersonBtn, .deleteRoleBtn {
    padding: 5%;
    background-color: darkred;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: none;
    font-size: small;
    margin: 0 auto;
    margin-top: 5%;
}

table {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    font-size: smaller;
    background-color: var(--seasalt);
}

td, th {
    padding: 2%;
}

td:first-child {
    color: var(--oxford-blue);
    font-weight: bold;
}

td {
    color: var(--dim-gray);
}

th {
    padding: 2%;
    text-align: left;
    background-color: var(--oxford-blue);
    color: var(--white);
}

.record-card {
    display: none;
    grid-template-columns: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: smaller;
    background-color: var(--seasalt);
    box-sizing: border-box;
    padding: 2%;
    height: fit-content;
}

.two-column {
    grid-template-columns: 40% 60%;
}

.movie-update-form, .person-update-form, .role-update-form {
    padding: 2% 5%;
    box-sizing: border-box;
    font-size: small;
}

.movie-update-form input[type=text], .person-update-form input[type=text], .role-update-form input[type=text] {
    width: 100%;
    padding: 4%;
    border-style: groove;
    border-color: var(--oxford-blue);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.info-row {
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 2%;
}

.button-row {
    width: 50%;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.info-label {
    color: var(--oxford-blue);
    font-weight: bold;
}

.info-value {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 5%;
}

.image-slot {
    height: 100%;
}

.image {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.collapsible {
    display: flex;
    justify-content: space-between;
    background-color: var(--oxford-blue);
    color: var(--white);
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    height: 5%;
    align-items: center;
}

.button-card-pair {
    margin-top: 1%;
}

.list-arrow {
    display: inline-block;
}

.collapsible.active .list-arrow {
    transform: rotate(180deg);
}

textarea {
    font-family: inherit;
    width: 100%;
    padding: 4%;
    border-style: groove;
    border-color: var(--oxford-blue);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5%;
    height: 20vh;
    text-align: left;
}

@media(max-width: 768px) {
    .input-table-area {
        display: block;
    }

    .movie-form, .person-form, .role-form {
        margin: 0 auto;
        width: 100%;
        margin-top: 10%;
        padding: 10% 20%;
    }

    .movie-update-form, .person-update-form, .role-update-form {
        font-size: smaller;
    }

}